*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
}

.headline {
	text-align: center;
	padding: 20px;
}

.nav-list {
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #848282;
	border-top: 1px solid #848282;
}

.nav-list-item {
	list-style: none;
	padding: 15px 20px;
	display: inline-block;
}

.main {
	width: 800px;
	height: 600px;
	margin:50px auto;
}

.green1 {
	width: 200px;
	height: 200px;
	background-color: #e6ffe9;
	float: left;
}

.green2 {
	width: 200px;
	height: 200px;
	background-color: #cbffd3;
	float: left;
}

.green3 {
	width: 200px;
	height: 200px;
	background-color: #aeffbd;
	float: left;
}

.green4 {
	width: 200px;
	height: 200px;
	background-color: #93ffab;
	float: left;
}

.yellow1 {
	width: 200px;
	height: 200px;
	background-color: #f3ffd8;
	float: left;
}

.yellow2 {
	width: 200px;
	height: 200px;
	background-color: #edffbe;
	float: left;
}

.yellow3 {
	width: 200px;
	height: 200px;
	background-color: #e9ffa5;
	float: left;
}

.yellow4 {
	width: 200px;
	height: 200px;
	background-color: #e4ff8d;
	float: left;
}

.blue1 {
	width: 200px;
	height: 200px;
	background-color: #d9e5ff;
	float: left;
}

.blue2 {
	width: 200px;
	height: 200px;
	background-color: #bad3ff;
	float: left;
}

.blue3 {
	width: 200px;
	height: 200px;
	background-color: #a4c6ff;
	float: left;
}

.blue4 {
	width: 200px;
	height: 200px;
	background-color: #8eb8ff;
	float: left;
}

footer {
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	background-color: #848282;
}

.footer-text {
	color: white;
}